$color-header: #627d80;
$color-primary: #fd9827;
$color-text: #666666;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial;
  color: $color-text;
  box-sizing: border-box;
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 3rem 0;
}

h1 {
  color: $color-header;
  font-size: 3rem;
  font-weight: 400;
}

h4 {
  color: $color-primary;
}

a {
  color: #627d81;
}

.Advert {
  max-width: 68rem;
  margin: 0 auto;

  .u-mainTitleSpaceBottom {
    margin-bottom: 1.5rem;
  }
}

.InformationList {
  list-style-type: none;

  &-item {
    padding-left: 1.5rem;

  }

  &-item--bulletDot {
    background: url(../images/dot.png) no-repeat left .7rem;
    background-size: .4rem .4rem;
  }

  &-item--bulletArrow {
    background: url(../images/arrow.png) no-repeat left .6rem;
    background-size: .8rem .8rem;
  }

}

.u-informationTitleSpaceBottomTop {
    margin: .6rem 0;
}

.u-sectionSpaceBottom:not(:last-child) {
  margin-bottom: 2.5rem;
}
