$color-header: #627d80;
$color-primary: #fd9827;
$color-text: #666666;

$gutter: 1.5rem;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial;
  color: $color-text;
  box-sizing: border-box;
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 3rem 0;
}

h1 {
  color: $color-header;
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  color: $color-primary;
  font-size: 1.5rem;
}

a {
  color: #627d81;
}

.Main {
  max-width: 68rem;
  margin: 0 auto;

  .u-spaceBottom {
    margin-bottom: $gutter;
  }
}

.List {
  list-style-type: none;

  &Item {
    padding-left: 1.5rem;

  }

  &Item--bulletDot {
    background: url(../images/dot.png) no-repeat left .7rem;
    background-size: .4rem .4rem;
  }

  &Item--bulletArrow {
    background: url(../images/arrow.png) no-repeat left .6rem;
    background-size: .8rem .8rem;
  }

}

.u-halfSpaceBottomTop {
    margin: $gutter/2 0;
}

.u-doubleSpaceBottom:not(:last-child) {
  margin-bottom: $gutter*2;
}
